<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekyouup.android.wallpaper"
    android:versionName="0.2" android:versionCode="2">
    <uses-sdk android:minSdkVersion="7" />
    <application
        android:label="@string/wallpaper_gyu"
        android:icon="@drawable/icon">
        <service
            android:label="@string/wallpaper_gyu"
            android:name=".DuckHuntWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/gyu" />
        </service>
    </application>
</manifest>
